body {
  background-color: #002b36;
  color: #839496;
}
/* Style the header */
.header {
  padding: 30px;
  text-align: center;
}

.remote {
  padding: 30px;
  text-align: center;
}

.button-row {
  margin: 5px;
}

input[type="button"]{
  padding: 5px 15px;
  color: #839496;
  background-color: #073642;
}

input[type="button"]:disabled{
  background-color: #586e75;
}

#timer {
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

/* The grid container */
.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

.grid-container > div {
  flex-grow: 1;
  max-width: 30vw;
}
