body {
  background-color: #002b36;
  color: #839496;
  padding-bottom: 150px;
  overflow-y: scroll;
}

#charts {
  padding-top: 1vw;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 30px;
}

#control-bar {
  position: fixed;
  z-index: 100;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #073642;
}

.remote {
  padding: 30px;
}

.button-row {
  display: flex;
}

.button-row > * {
  flex-grow: 1;
  width: 30px;
  margin: 5px 5px;
}

.button-row > a > input {
  width: 100%;
}

input[type="button"]{
  padding: 5px 15px;
  color: #839496;
  background-color: #073642;
  font-family: monospace;
}

input[type="button"]:disabled{
  background-color: #586e75;
}

input[type="text"]{
  background-color: #073642;
  color: #839496;
}

#timer {
  padding: 30px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

.grid-container > div {
  flex-grow: 1;
  max-width: 30vw;
  text-align: center;
}

.map {
  margin: 2.5vw 2.5vw;
  text-align: center;
}

#configs {
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.conf-row {
  width: 25vw;
  margin: 4px auto;
  text-align: right;
}

.conf-row > * {
  margin: 0 4px;
}

#map {
  width: 40vw;
  height: 40vw;
  border: 2px solid #839496;
}
